<h1>Admission</h1>
<p>The admissions in GCOEA, are based on the merit secured by the students in Joint Entrance Examination (Main) 
    conducted by every year and subsequent common counseling / seat allotment conducted by the 
    Joint Seat Allocation Authority (JoSAA) / Central Seat Allocation Board (CSAB). From 2019-2010, 
    the JEE (Main) will be conducted by National Testing Agency (NTA) in place of Central Board of Secondary Education (CBSE), 
    which conducted JEE (Main) till 2018.
</p>
<h3>The eligibility criteria considered for admissions besides JEE Ranks is as under:-</h3>
<ul><li>There shall be no weightage for the 12th Class marks in calculating the rank in the JEE (Main).</li>
    <li>For the candidates to qualify for admission in the Indian Institute of Technology (IITs) /National Institute of Technology (NITs) / Indian Institute of Information Technology (IIITs)
        and such other Centrally Funded Technical Institutions (CFTIs) whose admissions are based on the JEE Ranks, 
        they should have secured at least 75% marks in the 12th Class exam conducted by the respective Boards. 
        For SC / ST students, the qualifying marks would be 65% in the 12th Class Exam.</li>
</ul>
<h3>Admissions Policy in GCOEA</h3>
<p>As per the present policy, admissions to 50% of the seats in an NIT and IISET are earmarked for student of the State, where the NIT / IISET are situated. 
    The admissions against the remaining 50% seats are filled on the basis of ALL India ranks of candidates from other States.
</p>
