
<h1>Courses Offered by GCOEA </h1>
<ul>
<li>B. Tech(Bachelor of Technology) : Civil Engineering ,
    Chemical Engineering,
    Computer Science & Engineering,
    Electrical & Electronics Engineering,
    Electronics & Communication Engineering,
    Instrumentation & Control Engineering,
    Mechanical Engineering,
    Metallurgical Engineering,
    Production Engineering.

</li><br>

<li>M. Tech.(Master of Technology) : Tech. Transportation Engineering and Management,
    Tech. Structural Engineering,
    Tech Environmental Engineering,
    Tech. Computer Science,
    Tech. Power Systems,
    Tech Power Electronics,
    Tech. Communication Systems,
    Tech. V.L.S.I. System.
</li><br>

<li>Ph. D.(Doctor of Philosophy) : Department of Architecture & Planning,
    Civil Engineering,
    Computer Science And Engineering,
    Electrical Engineering,
    Electronics And Communication,
    Mechanical Engineering,
    Humanities & Social Sciences.</li><br>



<li> 
        M. B. A.(Master of Buisness Administration) : Finance,
    	Human Recourse,
        Marketing,
        Operations,
        General Management,
    	Business Analytics,
        Business Analysis & IT Consulting.
        
</li><br>

 