h1 {
  text-align: center;
  color     : red;
}

ul.nav {
  padding: 10px 20px;
  color  : #2779BF;
}

li {
  color           : yellow;
  background-color: plum;
  padding         : 8px 130px;
}

todos {
  background-color: rgb(119, 203, 214);
}