body,html{

    height:200%;

    margin:0 auto;

    background-color:rgb(199, 161, 168);

}


a{

    text-decoration:none;

    display: block;

}


section{

    width: 80%;

    margin: 0 auto;

    padding:2em;

}


.container{

    width:80%;

    margin: 0 auto;

}



