<h1> Government College of Engineering, Amravati (GCOEA) </h1>

<p>
    Government College of Engineering, Amravati (GCOEA) is one of the oldest engineering institutes in the state of Maharashtra, India, located in Amravati .It was established in 1964 by the Government of Maharashtra, along with three other Government institutes at Pune, Aurangabad, and Karad. It was initially affiliated to Nagpur University and later on shifted to Amravati University now Sant Gadge Baba Amravati University SGBAU) in 1982. 
    The Institute started with three basic disciplines Civil, Mechanical and Electrical Engineering initially. Subsequently new degree programs in Electronic & Telecommunication, Computer Science & Engineering, Instrumentation Engineering and Information Technology were added as per the demand, need and requirements of the country.
The institute started part time Post Graduate course in Electrical Power System in 1986 and later added four P.G. Courses in Thermal Power Engineering, Environmental, Geotechnical, and Electronics Systems and Communication. The institute now offers seven full time PG programs in Electrical Power Systems, Structures, Thermal Power Engineering., Environmental Engineering., Advanced Electronics, Computer Engineering and Geotechnical Engineering.
Besides imparting Engineering education in all major Disciplines, it is also a recognized research center for Ph.D. Programs in Civil, Mechanical, Electrical, Electronics and Computer Engineering for Amravati University. The total student strength is around 1,700.
There are total seven branches, listed by order of establishment.
• Civil Engineering (1964)

• Engineering (1964)

• Electrical and Power Engineering (1964)

• Electronics and Telecommunication Engineering (1986)
• Instrumentation Engineering (1996)
• Computer Engineering (1986)
• Information Technology (2001)
</p>

<p>The institute was granted Autonomy by UGC in 2005–06 which is further extended up to 2020. All eligible programs have been accredited by NBA. The Institute is also awarded 2(f) and 12(B) status of the UGC Act-1956 on 24th Sept 2015, up to the Masters degree.
    The institute was ranked 45 in Outlook India’s Top Engineering Colleges of 2012[4] and 68 in Dataquest’s Top Engineering Colleges in India of 2011. Earlier it was ranked 5th in the list of top engineering colleges situated in the Western side of India (excluding IITs).The latest ranking of the DQ 2012 shows a steep jump of 33 spots, relative to previous ranking, to 35.All major Recruiters visit the Institute for Campus placements both Core and software Giants. The Institute was honored with National Employability Award 2018-19; for among ‘Top 10% Institutes in the State of Maharashtra by Aspiring Minds. Software Giant Tata Consultancy Services have honored the Institute as a Premium Category college (2018-19).
    The College campus is spread over 114 acres of land on Amravati Walgaon road. The Public Works Department of Govt. of Maharashtra; is responsible for construction and maintenance of buildings. Every department has its own building; also the institute has independent boy’s hostel and girl’s hostel. It has a Principals bungalow as well as Warden Quarters. College at present has 10Mbit/s connectivity having campus wide networking of 2000 nodes and also WiFi spread over entire campus covering all departments, hostels and residential areas.
</p>

